        <footer class="footer">
                <div class="footer-copyright text-center">
                    <a href="https://github.com/NatPDeveloper/eos-chess">Github Source Code</a>
                    | <a href="https://t.me/natpd">Telegram me Questions!</a>
                </div>
        </footer>
    </body>
</html>