    <footer class="footer">
        <div class="footer-copyright text-center py-3">
            <a href="https://github.com/NatPDeveloper/eos-chess">Github</a>
            | <a href="https://t.me/natpd">Telegram</a>
        </div>
    </footer>
</html>