    <footer class="footer">
        <div class="footer-copyright text-center py-3">Open Source: 
            <a href="https://github.com/NatPDeveloper/eos-chess">Github Link</a>
        </div>
    </footer>
</html>