<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
        <title>Chess</title>
        <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="../js/chessboard-0.3.0.min.js"></script>
        <script src="../js/chess.js"></script>
    </head>
    <body>
        
        