<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="color:black;">About ChessEOS</h1>
        <hr class="my-4">
        <p>My name is Nat, and I built this app for my own educational purposes.  It is currently running on the Jungle Network so transactions may be lost in a temporary fork until I build logic in to handle that.</p>
        <a class="btn btn-primary btn-sm" href="https://github.com/NatPDeveloper/eos-chess" role="button">Source Code</a>
    </div>
</div>

<% include ./partials/footer %>