<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="color:black;">About ChessEOS</h1>
        <hr class="my-4">
        <p>By default you are playing the AI.. Good luck there. Or you can enter a random account name for yourself (does not need to be EOS account name) to connect with them after they've entered their own. The names are forgotten after you refresh. This uses socket.io to handle the game logic communication. <strong>You may need to open up the developer console in Chrome or remove the blocking of pop ups as chrome doesn't seem to like pushing the notifications through that are necessary to confirm connecting to the other player.</strong></p>
        <em><p>*note this is currently hosted on the Jungle Testnet, so in order to use it, you'll need to <a href="https://monitor.jungletestnet.io/#account">create a Jungle account</a> then import the Jungle testnet's address and chain ID into Scatter.</em> <a href="https://eosio.stackexchange.com/questions/3270/how-to-get-local-testnet-account-for-use-with-scatter">Tutorial Link</a></p>
        <a class="btn btn-primary btn-sm" href="https://github.com/NatPDeveloper/eos-chess" role="button">Source Code</a>
    </div>
</div>

<% include ./partials/footer %>