<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="color:black;">About ChessEOS</h1>
        <hr class="my-4">
        <p>My name is Nat, and I built ChessEOS to prove my skills as a full stack blockchain developer.  I don't have a CS degree, so I decided this would be the next best thing.  I got into EOS around March and became so enfatuated with the concept that I tried to learn everything I could about it.  At some point, I decided to learn C++ to further my understanding of the protocal.  I took a course on Udemy and once I finished that, I had the developer bug.  I took another course to learn a stack then I got to building on this dapp.  I hope you enjoy it!</p>
        <a class="btn btn-primary btn-sm" href="https://github.com/NatPDeveloper/eos-chess" role="button">Source Code</a>
    </div>
</div>

<% include ./partials/footer %>