<% include ./partials/header %>

<div class="container-fluid">
    <div class="row" >
        <h3 id="bob" style="text-align:center;width:596px; margin: 10px auto;">Playing the Bot</h3>
    </div>
    <div class="row">
        <div id="board" style="width:600px;padding-top:50px; margin:auto;"></div>
    </div>
</div>

<script>
var engine = EngineGame();
board = Board();
board.setChessEngine(engine);
engine.setBoard(board);
        engine.reset();
        engine.setDepth();
        engine.setPlayerColor("white");
        engine.start();
</script>

<% include ./partials/footer %>