<% include ./partials/header %>
<div  align="center" class="container" id="main"> 

    <div class="row">
        <div class="col-7">
            <h1>Welcome to ChessEOS</h1>
            <div id="board" style="width: 600px"></div>
            <!-- <p>FEN: <span id="fen"></span></p>
            <p>PGN: <span id="pgn"></span></p>
            <input type="button" id="getPositionBtn" value="Show position in console" /> -->
        </div>
        <div id="move" class="col-5">
            <h3><span id="status">WHITE TO MOVE</span></h3>
            <form id="nameForm" method="">
                <div class="form-group">
                    <input class="form-control" id="eosName" type="text" name="name" placeholder="enter your EOS account name">
                    <button id="submitButton" class="btn btn-lg btn-primary btn-block">Connect</button>
                </div>
            </form>
            <form id="hostForm" method="">
                <div class="form-group">
                    <input class="form-control" id="hostName" type="text" name="host" placeholder="enter the host's EOS account name">
                    <button id="submitButton" class="btn btn-lg btn-primary btn-block">Connect</button>
                </div>
            </form>
            <h4>MOVES</h4>
            <div id="moves">
                <% moves.forEach(function(move){ %>
                    <ul id="moves_ul">
                        <!-- list populated from onDrop logic -->
                    </ul>
                <% }) %>
            </div>
        </div>
    </div>

    
    <script>

        var newGame;
var socket;
var engine;
var board;
var init = function(){
    engine = EngineGame();
    socket = SocketClient();

    board = Board();
    board.setChessEngine(engine);
    board.setSocket(socket);
    newGame = function(){
        engine.setBoard(board);
        engine.reset();
        engine.setDepth();
        engine.setPlayerColor("white");
        engine.start();
    }
    socket.setBoard(board);
    newGame();
}
init()
    </script>

    <script>
        


        
        </script>
</div>

<% include ./partials/footer %>