<% include ./partials/header %>

<div class="container">
    <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Move</th>
            <th scope="col">Player</th>
            <th scope="col">Piece</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Move Transaction ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Test1</td>
            <td>P</td>
            <td>A2</td>
            <td>A4</td>
            <td>35000f32ef542f2b8e693fee15b73dddd433b18484070120b4ddf4f112c17221</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Test2</td>
            <td>P</td>
            <td>C3</td>
            <td>F5</td>
            <td>35000f32ef542f2b8e693fee15b73dddd433b18484070120b4ddf4f112c17221</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Test1</td>
            <td>P</td>
            <td>G7</td>
            <td>H7</td>
            <td>35000f32ef542f2b8e693fee15b73dddd433b18484070120b4ddf4f112c17221</td>
          </tr>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>