<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="color:black;">Stats will go here</h1>-
    </div>
</div>

<% include ./partials/footer %>