body {
    background: #2564ca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, orangered, rgb(19, 8, 184));  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    margin-top: 40px;
}

#name {
    width: 400px;
    margin: 0 auto;
    color: white;
}

#submitButton {
    margin-top: 5px;
}

h1 {
    color: white;
}

#moves {
    width: 400px;
    margin: 0 auto;
}

h3 {
    background: white;
    color: black;
    width: 400px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
}

h4 {
    background: linear-gradient(to right, black, white);
    color: black;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    font-weight: bold;
}

ul#moves {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #665;
}

li.playerMoves  {
    background: white;
    color: black;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16pt;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 5px;
}

 li:nth-of-type(even).playerMoves {
    background: black;
    color: white;
    list-style-type: none;
    text-transform: uppercase;
}

.form-group {
    width: 400px;
    margin: 10px auto;
}