body {
    padding-top: 20px;
    background: orangered;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, orangered, rgb(19, 8, 184)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
    width: 400px;
    margin: 0 auto;
    color: white;
}

h1 {
    color: white;
}

#moves {
    width: 400px;
    margin: 0 auto;
}

h4 {
    background: black;
    color: white;
    margin: 0;
    padding: 10px 20px;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #665;
}

.form-group {
    width: 400px;
    margin: 10px auto;
}